<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link type="text/css" href="/static/common/css/normalize.scss" rel="stylesheet"/>
  <script src="/static/public/jquery/jquery-1.11.1.min.js"></script>

  <!--[if lte IE 8]>
  <script src="/static/public/jquery/jquery.placeholder.min.js"></script>
  <script src="/static/public/shim/es5-shim.min.js"></script>
  <script src="/static/public/shim/es5-sham.min.js"></script>
  <script src="/static/public/shim/json3.min.js"></script>
  <script src="/static/public/shim/es6-shim.min.js"></script>
  <script src="/static/public/shim/es6-sham.min.js"></script>
  <![endif]-->
</head>
<body>
{{{content}}}
</body>
</html>